---
import BaseLayout from '@components/layout/BaseLayout.astro';
import { kebabCase } from '@utils';

interface Props {
  title: string;
  date: Date;
  tags?: string[];
}

const { title, date, tags = [] } = Astro.props;
const formatted = new Date(date).toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<BaseLayout title={title}>
  <main class="post-container">
    <span class="breadcrumb">
      <span class="arrow">&larr;</span>
      <a href="/pensieve">All memories</a>
    </span>

    <header class="post-header">
      <h1 class="medium-heading">{title}</h1>
      <p class="subtitle">
        <time>{formatted}</time>
        {
          tags.length > 0 && (
            <span>&nbsp;&mdash;&nbsp;</span>
          )
        }
        {
          tags.map(tag => (
            <a href={`/pensieve/tags/${kebabCase(tag)}/`} class="tag">#{tag}</a>
          ))
        }
      </p>
    </header>

    <div class="post-content">
      <slot />
    </div>
  </main>
</BaseLayout>

<style>
  .post-container {
    max-width: 1000px;
  }
  .post-header {
    margin-bottom: 50px;
  }
  .post-header .tag {
    margin-right: 10px;
  }
  .post-content {
    margin-bottom: 100px;
  }
  .post-content :global(h1),
  .post-content :global(h2),
  .post-content :global(h3),
  .post-content :global(h4),
  .post-content :global(h5),
  .post-content :global(h6) {
    margin: 2em 0 1em;
  }
  .post-content :global(p) {
    margin: 1em 0;
    line-height: 1.5;
    color: var(--light-slate);
  }
  .post-content :global(a) {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--orange);
  }
  .post-content :global(a)::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--orange);
    transition: var(--transition);
    opacity: 0.5;
  }
  .post-content :global(a):hover::after,
  .post-content :global(a):focus::after {
    width: 100%;
  }
</style>
