---
import BaseLayout from '@components/layout/BaseLayout.astro';
import Icon from '@components/icons/Icon.astro';
import { getCollection } from 'astro:content';

const projects = (await getCollection('projects')).toSorted(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<BaseLayout title="Archive">
  <main>
    <header data-sr>
      <h1 class="big-heading">Archive</h1>
      <p class="subtitle">A big list of things I&rsquo;ve worked on</p>
    </header>

    <div class="table-container" data-sr>
      <table>
        <thead>
          <tr>
            <th>Year</th>
            <th>Title</th>
            <th class="hide-on-mobile">Made at</th>
            <th class="hide-on-mobile">Built with</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          {
            projects.map(project => {
              const {
                date,
                github,
                external,
                ios,
                android,
                title,
                tech,
                company,
              } = project.data;
              const year = new Date(date).getFullYear();
              return (
                <tr data-sr>
                  <td class="overline year">{year}</td>
                  <td class="title">{title}</td>
                  <td class="company hide-on-mobile">
                    {company ? <span>{company}</span> : <span>&mdash;</span>}
                  </td>
                  <td class="tech hide-on-mobile">
                    {tech.length > 0 && tech.map((item, i) => (
                      <span>
                        {item}{' '}{i !== tech.length - 1 && <span class="separator">&middot;</span>}
                      </span>
                    ))}
                  </td>
                  <td class="links">
                    <div>
                      {external && <a href={external} aria-label="External Link" target="_blank" rel="noreferrer"><Icon name="External" /></a>}
                      {github && <a href={github} aria-label="GitHub Link" target="_blank" rel="noreferrer"><Icon name="GitHub" /></a>}
                      {ios && <a href={ios} aria-label="Apple App Store Link" target="_blank" rel="noreferrer"><Icon name="AppStore" /></a>}
                      {android && <a href={android} aria-label="Google Play Store Link" target="_blank" rel="noreferrer"><Icon name="PlayStore" /></a>}
                    </div>
                  </td>
                </tr>
              );
            })
          }
        </tbody>
      </table>
    </div>
  </main>
</BaseLayout>

<style>
  .table-container {
    margin: 100px -20px;
  }
  @media (max-width: 768px) {
    .table-container { margin: 50px -10px; }
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  .hide-on-mobile {
    @media (max-width: 768px) {
      display: none;
    }
  }

  tbody tr:hover,
  tbody tr:focus {
    background-color: var(--light-navy);
  }

  th,
  td {
    padding: 10px;
    text-align: left;
  }
  th:first-child,
  td:first-child {
    padding-left: 20px;
  }
  @media (max-width: 768px) {
    th:first-child,
    td:first-child {
      padding-left: 10px;
    }
  }
  th:last-child,
  td:last-child {
    padding-right: 20px;
  }
  @media (max-width: 768px) {
    th:last-child,
    td:last-child {
      padding-right: 10px;
    }
  }

  td svg,
  th svg {
    width: 20px;
    height: 20px;
  }

  tr { cursor: default; }
  tr td:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }
  tr td:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  td.year {
    padding-right: 20px;
  }
  @media (max-width: 768px) {
    td.year { padding-right: 10px; font-size: var(--fz-sm); }
  }

  td.title {
    padding-top: 15px;
    padding-right: 20px;
    color: var(--lightest-slate);
    font-size: var(--fz-xl);
    font-weight: 600;
    line-height: 1.25;
  }

  td.company {
    font-size: var(--fz-lg);
    white-space: nowrap;
  }

  td.tech {
    font-size: var(--fz-xxs);
    font-family: var(--font-mono);
    line-height: 1.5;
  }
  td.tech .separator { margin: 0 5px; }
  td.tech span { display: inline-block; }

  td.links {
    min-width: 100px;
  }
  td.links div {
    display: flex;
    align-items: center;
  }
  td.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 10px;
  }
  td.links a + a { margin-left: 10px; }

  @media (max-width: 768px) {
    .hide-on-mobile { display: none; }
  }
</style>
